.ServiceSec {
    padding: 80px 0;
}

.ServiceMain {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.ServiceMain .subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: start;
    letter-spacing: -0.01em;
    text-align: center;
}

.ServiceMain h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -0.01em;
}

.embla {
    max-width: 100%;
    padding-top: 35px;
    margin: 0;
    --slide-height: 19rem;
    --slide-spacing: 0;
    --slide-size: 100%;
    --slide-spacing-sm: 1.7rem;
    --slide-size-sm: 50%;
    --slide-spacing-lg: 2rem;
    --slide-size-lg: calc(100% / 3);
}

.emblaViewport {
    overflow: hidden;
}

.emblaContainer {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
}

.emblaSlide {
    /* min-width: 0; */
    flex: 0 0 33.33%;
    padding-left: var(--slide-spacing);
    margin-left: 5px;
    margin-right: 5px;
}

.card {
    border-radius: 25px;
    border: 1px solid #B1B5C3;
}

.CardImg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    height: 250px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border: 'none'
}

.CardContent {
    display: flex;
    padding: 35px 25px;
    justify-content: space-between;
    text-align: start;
}

.CardContent h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    color: #141416;
    text-align: start;
}



.CardContent .Arrow {
    border-radius: 25px;
    border: 1px solid #B1B5C3;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* .emblaSlideNumber {
    box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
    border-radius: 1.8rem;
    font-size: 4rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--slide-height);
    user-select: none;
} */